.title {
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
body {
    background-image: url(hojas_background.jpg) ;
    color: white;
}
.table {
    font-size: 20px;
color: white;
border-collapse: collapse;
/* width: 99vw;
height: 30vh; */
text-align: center;
--bs-table-striped-color: #ffffff;
}
th{
    background-color: tomato;
}